// Couleurs
$background-color:#f4f4f4;
$localisation-bg-color: #EAEAEA;
$button-bg-gradient: linear-gradient(356deg, #9356DC 0%, #FF79DA 100%);
$button-text-color: #fff;
$localisation-box-shadow: rgb(207 201 201);
$button-box-shadow: rgb(223 223 223);
$card-bg-color: white;
$new-icon-bg-color: #28a745;
$favori-icon-color: red;
$text-color: #666;
$footer-text-color: #fff;
$footer-bg-color: #333;

// Tailles de polices
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;

// Margins et paddings
$header-padding-top: 20px;
$header-padding-bottom: 18px;
$localisation-padding: 10px;
$h1-margin-bottom: 10px;
$h2-margin-bottom: 20px;
$p-margin-top: 10px;




$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #f6f6f6;
$text-color: #333;