// Importer les variables et mixins
@import 'variables';
@import 'mixins';
@import 'base';

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $text-color;
  }

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    animation: spin 1s linear infinite, disappear 3s forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes disappear {
    100% { opacity: 0; visibility: hidden; }
}

.content {
    opacity: 0;
    animation: appear 3s forwards;
}

@keyframes appear {
    100% { opacity: 1; }
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $header-padding-top;
    flex-direction: column;
    background-color: white;



    img {
        height: auto;
        width: 40%;
        padding-bottom: $header-padding-bottom;
    }
    


    .localisation {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        box-shadow: 3px 2px 2px 2px rgb(207, 201, 201);
        background-color: #EAEAEA;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        width: 100%;
    }
    
    .localisation svg {
        margin-right: 1.2rem; 
    }
    
    
    
}


.introduction {
    width: 100%;
    text-align: center;
    background-color: $background-color;
    padding-bottom: 45px;


    h1 {
        margin-bottom: $h1-margin-bottom;
        width: 79%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 20px;
    }


    p {
        font-size: $font-size-large;
        color: $text-color;
    }


    .bouton-explorer {
        @include button-styles(10px 20px, $button-bg-gradient, $button-text-color, 21px);
        font-weight: bold;
    }
}


.fonctionnement {
    padding: 30px 30px;
    background-color: white;
  }
  
  .fonctionnement h2 {
    margin-bottom: 30px;
  }
  
  .fonctionnement .etapes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .fonctionnement .etape .btn {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    gap: 1.5rem;
  }
  
  
.fonctionnement .etape .btn .numero {
    position: absolute;
    left: -12px;
    background-color: #9356DC;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  
  .fonctionnement .etape .btn i {
    margin-right: 20px;
    color: #7E7E7E;
    font-size: 18px;
  }

  @keyframes btnHover {
    0% {
        transform: translateY(0);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    }
    100% {
        transform: translateY(-5px);
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    }
}

.fonctionnement .etape .btn:hover {
    animation: btnHover 0.3s forwards;
}

  
  .fonctionnement .etape .btn:hover {
    animation: btnHover 0.3s forwards;
    background-color: #f5edff;
  }
  
  .fonctionnement .etape .btn:hover i {
    color: #9356DC;
  
  }
  
 
  


.restaurants {
    background-color: $background-color;
    padding: 10px;


    h2 {
        text-align: left;
        margin-bottom: $h2-margin-bottom;
        padding-left: 20px;
        padding-bottom: 12px;
        padding-top: 30px;
    }


    .carte-restaurant {
        @include border-radius(10px);
        margin-bottom: 20px;      
        background-color: $card-bg-color;
        display: block;
        position: relative;


        img {
            width: 100%;
            height: 200px;
            @include border-radius(10px 10px 0px 0px);
            object-fit: cover;
            background-repeat: no-repeat;
        }


        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 11px 20px 0 13px;

            
            a {
                text-decoration: none; 
                color: inherit; 
            }


            
  .conteneur-coeur {
    position: relative;
    font-size: 26px;
    width: 26px;
    height: 7px;
    cursor: pointer;
}

.coeur-vide, .coeur-plein {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.coeur-vide {
    color: #000000;
    opacity: 1;
}

.coeur-plein {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0; 
}


.conteneur-coeur:hover .coeur-vide {
    opacity: 0;
}

.conteneur-coeur:hover .coeur-plein {
    opacity: 1;
    animation: remplissage 0.5s linear;
}

@keyframes remplissage {
    0% {
        clip-path: inset(100% 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

            h3 {
                font-size: $font-size-xl;
                margin: 0;
            }
        }


        p {
            font-size: $font-size-medium;
            margin-top: 0px;
            padding-left: 14px;
            padding-bottom: 13px;
        }


        .icones {
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: absolute;
            top: 10px;
            right: 10px;


            .nouveau {
                background-color: #99E2D0;
                color: #008766;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 4px;
                padding-top: 4px;
                border-radius: 3px;
                font-size: 12px;
                position: absolute;
                top: 3px;
                right: 1px;
                font-weight: bold;
            }         
            
        }
    }
}




footer {
    text-align: justify;
    background-color: $footer-bg-color;
    color: $footer-text-color;
    padding: 20px;

    .footer-item {
        display: flex;
        align-items: center;
        gap: 0.7rem;
    }

    .logo-footer {
        filter: brightness(0) invert(1);
    }
    

    p {
        margin: 5px 0;
    }

    .logo-footer{
        width: 6rem;
        color:white ;
    }

    .contact-link {
        color: inherit; 
        text-decoration: none;
        font: inherit; 
        cursor: pointer; 
      }
}   







@media (min-width: 1024px) {
   


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $header-padding-top;
        flex-direction: column;
   
        img {
            height: auto;
            width: 15%;
            padding-bottom: $header-padding-bottom;
        }
   
        .localisation {
            font-size: 0.8rem;
            box-shadow: 0px 0px;
            background-color: $localisation-bg-color;
            width: 100%;
            text-align: center;
            padding-top: $localisation-padding;
            padding-bottom: $localisation-padding;
        }
    }


    .introduction {
        width: 100%;
        text-align: center;
        background-color: $background-color;
        padding-bottom: 45px;
        font-size: 24px;

        h1 {
            margin-bottom: $h1-margin-bottom;
            width: 76%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-top: 20px;

        }
   
        p {
            font-size: bold;
            color: $text-color;
        }
        
        
        .bouton-explorer {
            @include flex-center;
            background: linear-gradient(to bottom right, $secondary-color, $primary-color);
            color: white;
            border: none;
            padding: 1rem 3rem;
            border-radius: 2rem;
            margin: 2rem auto;
            font-size: 1rem;
            cursor: pointer;
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.9;
            }
        }
    }




.fonctionnement {
    h2 {
        text-align: left;
        margin-bottom: $h2-margin-bottom;
        padding-top: 29px;
        padding-bottom: 14px;
        padding-left: 7rem;
    }


    .etapes {
        display: flex;
        flex-direction: row;
        margin-left: 7rem;
        margin-right: 7rem;
        padding-bottom: 34px;
        gap: 5rem;


        .etape {
            text-align: center;
            padding-bottom: 15px;
            width: 29%;


            .btn {
                width: 125%;
                padding: 20px;
                color: #333;
                border: none;
                border-radius: 21px;
                cursor: pointer;
                box-shadow: 0px 0px 9px 4px rgb(223, 223, 223);
            }

            .numero{
                position: absolute;
                left: -14px;
                background-color: #9356DC;
                color: white;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
            }

            p {
                font-size: $font-size-medium;
                margin-top: $p-margin-top;
            }
        }
    }
}




.restaurants {
    background-color: $background-color;
    padding: 20px 100px;
    margin: 0 auto;


    h2 {
        text-align: left;
        margin-bottom: 20px;
        padding-left: 7px;
        padding-bottom: 12px;
        padding-top: 30px;
    }


    .restaurant-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }


    .carte-restaurant {
        @include border-radius(15px);
        background-color: $card-bg-color;
        display: flex;
        flex-direction: column;
        position: relative;
        width: calc(50% - 30px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);


        img {
            width: 100%;
            height: 162px;
            @include border-radius(15px 15px 0 0);
            object-fit: cover;
        }


        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px 1px;


            h3 {
                font-size: $font-size-xl;
                margin: 0;
            }
        }


        p {
            font-size: $font-size-medium;
            margin: 0;
            padding: 0 20px 15px;
        }


        .icones {
            position: absolute;
            top: 15px;
            right: 15px;


            .nouveau {
                background-color: #99E2D0;                ;
                color: #008766;
                padding: 6px 12px;
                @include border-radius(2px);
                font-size: $font-size-small;
            }


            .favori {
                position: absolute;
                right: 20px;
                bottom: 20px;
                color: $favori-icon-color;
                font-size: $font-size-xl;
            }
        }
        }
    }

    
    footer {
        display: flex;
        text-align: justify;
        background-color: #333;
        color: #fff;
        padding-top: 3rem;
        flex-direction: row-reverse;
        gap: 2rem;
    
        .footer-item {
            display: flex;
            align-items: center;
            gap: 0.7rem;
        }
    
        .logo-footer {
            filter: brightness(0) invert(1);
        }
        
    
        p {
            margin: 5px 0;
        }
    
        .logo-footer{
            width: 6rem;
            color:white ;
        }
    } 

}



@media screen and (min-width: 1440px) {

    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $header-padding-top;
        flex-direction: column;
   
        img {
            height: auto;
            width: 8%;
            padding-bottom: $header-padding-bottom;
        }
   
        .localisation {
            font-size: 0.8rem;
            box-shadow: 0px 0px;
            background-color: $localisation-bg-color;
            width: 100%;
            text-align: center;
            padding-top: $localisation-padding;
            padding-bottom: $localisation-padding;
        }
    }

.fonctionnement {
    h2 {
        text-align: left;
        margin-bottom: $h2-margin-bottom;
        padding-top: 29px;
        padding-bottom: 14px;
        padding-left: 17rem;
    }


    .etapes {
        display: flex;
        flex-direction: row;
        margin-left: 18rem;
        margin-right: 3rem;
        padding-bottom: 34px;
        gap: 0rem;


        .etape {
            text-align: center;
            padding-bottom: 15px;
            width: 30%;


            .btn {
                width: 79%;
                padding: 1.5rem;
                color: #333;
                border: none;
                border-radius: 21px;
                cursor: pointer;
                box-shadow: 0px 0px 9px 4px rgb(223, 223, 223);
            }

            .numero{
                position: absolute;
                left: -14px;
                background-color: #9356DC;
                color: white;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
            }

            p {
                font-size: $font-size-medium;
                margin-top: $p-margin-top;
            }
        }
    } 



}



.restaurants {
    background-color: $background-color;
    padding: 2rem 22rem;
    margin: 0 auto;


    h2 {
        text-align: left;
        margin-bottom: $h2-margin-bottom;
        padding-left: 20px;
        padding-bottom: 12px;
        padding-top: 3px;
    }


    .restaurant-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }


    .carte-restaurant {
        @include border-radius(15px);
        background-color: $card-bg-color;
        display: flex;
        flex-direction: column;
        position: relative;
        width: calc(50% - 30px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);


        img {
            width: 100%;
            height: 162px;
            @include border-radius(15px 15px 0 0);
            object-fit: cover;
        }


        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px 1px;


            h3 {
                font-size: $font-size-xl;
                margin: 0;
            }
        }


        p {
            font-size: $font-size-medium;
            margin: 0;
            padding: 0 20px 15px;
        }


        .icones {
            position: absolute;
            top: 15px;
            right: 15px;


            .nouveau {
                background-color: #99E2D0;                ;
                color: #008766;
                padding: 6px 12px;
                @include border-radius(2px);
                font-size: $font-size-small;
            }


            .favori {
                position: absolute;
                right: 20px;
                bottom: 20px;
                color: $favori-icon-color;
                font-size: $font-size-xl;
            }
        }
        }
    }


}
    

